/* Large DESKTOP
========================================================================== */
@media screen and (min-width:1366px) and (max-width:1920px) {
   
}
/* Small DESKOTOP
========================================================================== */
@media screen and (min-width:1024px) and (max-width:1365px) {
   .popup_content {
   	    height: calc(80% - 50px);
   }
   .beerName {
   	    font-size: 1.8em;
   }
}
/* TABLETS/Small DESKTOP
========================================================================== */
@media screen and (min-width:768px) and (max-width:1023px) {
    .popup_content {
   	    width: 95%;
   	    top: 10px;
   	    height: calc(100% - 50px);
   }
   .beerContent {
   	    flex-direction: column;
	    justify-content: center;
	    margin: 0 auto;
	    display: flex;
	    text-align: center;
   }
   .beerDesc {
   	    text-align: center;
   }
   .brewersTips {
   		text-align: center;
   }
   .beerStats {
   	    text-align: center;
   		justify-content: center;
   }
   .popup_content .left img {
   	    justify-content: center;
	    margin: 0 auto;
	    text-align: center;
	    display: flex;
	    height: 150px !important;
   }
   .right {
   	    width: 95%;
    	margin: 0 auto;
   }
   .post {
   	flex: 0 1 calc(45% - 8px);
   }
      .wrapper {
   		width: 100%;
   }
   .appLogoNew {
	   	width: 25%;
	   	margin: 0 10px 0 0;
   }
}
/* TABLETS
========================================================================== */
@media screen and (min-width:480px) and (max-width:767px) {
    .popup_content {
   	    width: 95%;
   	    top: 10px;
   	    height: calc(100% - 50px);
   }
   .beerContent {
   	    flex-direction: column;
	    justify-content: center;
	    margin: 0 auto;
   }
   .popup_content .left img {
   	    justify-content: center;
	    margin: 0 auto;
	    text-align: center;
	    display: flex;
	    height: 150px !important;
   }
   .right {
   	    width: 95%;
    	margin: 0 auto;
   }
    .mcontent__item {
   		flex-direction: column;
   }
      .wrapper {
   		width: 100%;
   }
   .appLogoNew {
	   	width: 30%;
	   	margin: 0 10px 0 0;
   }
}
/* SMARTFONES
========================================================================== */
@media screen and (min-width:240px) and (max-width:479px) {
   .popup_content {
   	    width: 95%;
   	    top: 10px;
   	    height: calc(100% - 50px);
   }
   .beerContent {
   	    flex-direction: column;
	    justify-content: center;
	    margin: 0 auto;
   }
   .popup_content .left img {
   	    justify-content: center;
	    margin: 0 auto;
	    text-align: center;
	    display: flex;
	    height: 150px !important;
   }
   .right {
   	    width: 95%;
    	margin: 0 auto;
   }
   .mcontent__item {
   		flex-direction: column;
   }
   .wrapper {
   		width: 100%;
   }
   .appLogoNew {
	   	width: 30%;
	   	margin: 0 10px 0 0;
   }
}
/* PORTRAIT
========================================================================== */
@media screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait)   {
   
}
/* LANDSCAPE
========================================================================== */
@media screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape)   {
   
}