@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900');
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */

/* Document
   ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

html {
    line-height: 1.15;
    /* 1 */
    -webkit-text-size-adjust: 100%;
    /* 2 */
}

/* Sections
     ========================================================================== */

/**
   * Remove the margin in all browsers.
   */

body {
    margin: 0;
}

/**
   * Render the `main` element consistently in IE.
   */

main {
    display: block;
}

/**
   * Correct the font size and margin on `h1` elements within `section` and
   * `article` contexts in Chrome, Firefox, and Safari.
   */

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

/* Grouping content
     ========================================================================== */

/**
   * 1. Add the correct box sizing in Firefox.
   * 2. Show the overflow in Edge and IE.
   */

hr {
    box-sizing: content-box;
    /* 1 */
    height: 0;
    /* 1 */
    overflow: visible;
    /* 2 */
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */

pre {
    font-family: monospace, monospace;
    /* 1 */
    font-size: 1em;
    /* 2 */
}

/* Text-level semantics
     ========================================================================== */

/**
   * Remove the gray background on active links in IE 10.
   */

a {
    background-color: transparent;
}

/**
   * 1. Remove the bottom border in Chrome 57-
   * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
   */

abbr[title] {
    border-bottom: none;
    /* 1 */
    text-decoration: underline;
    /* 2 */
    text-decoration: underline dotted;
    /* 2 */
}

/**
   * Add the correct font weight in Chrome, Edge, and Safari.
   */

b,
strong {
    font-weight: bolder;
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */

code,
kbd,
samp {
    font-family: monospace, monospace;
    /* 1 */
    font-size: 1em;
    /* 2 */
}

/**
   * Add the correct font size in all browsers.
   */

small {
    font-size: 80%;
}

/**
   * Prevent `sub` and `sup` elements from affecting the line height in
   * all browsers.
   */

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

/* Embedded content
     ========================================================================== */

/**
   * Remove the border on images inside links in IE 10.
   */

img {
    border-style: none;
}

/* Forms
     ========================================================================== */

/**
   * 1. Change the font styles in all browsers.
   * 2. Remove the margin in Firefox and Safari.
   */

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    /* 1 */
    font-size: 100%;
    /* 1 */
    line-height: 1.15;
    /* 1 */
    margin: 0;
    /* 2 */
}

/**
   * Show the overflow in IE.
   * 1. Show the overflow in Edge.
   */

button,
input {
    /* 1 */
    overflow: visible;
}

/**
   * Remove the inheritance of text transform in Edge, Firefox, and IE.
   * 1. Remove the inheritance of text transform in Firefox.
   */

button,
select {
    /* 1 */
    text-transform: none;
}

/**
   * Correct the inability to style clickable types in iOS and Safari.
   */

button,
[type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
}

/**
   * Remove the inner border and padding in Firefox.
   */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

/**
   * Restore the focus styles unset by the previous rule.
   */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
}

/**
   * Correct the padding in Firefox.
   */

fieldset {
    padding: 0.35em 0.75em 0.625em;
}

/**
   * 1. Correct the text wrapping in Edge and IE.
   * 2. Correct the color inheritance from `fieldset` elements in IE.
   * 3. Remove the padding so developers are not caught out when they zero out
   *    `fieldset` elements in all browsers.
   */

legend {
    box-sizing: border-box;
    /* 1 */
    color: inherit;
    /* 2 */
    display: table;
    /* 1 */
    max-width: 100%;
    /* 1 */
    padding: 0;
    /* 3 */
    white-space: normal;
    /* 1 */
}

/**
   * Add the correct vertical alignment in Chrome, Firefox, and Opera.
   */

progress {
    vertical-align: baseline;
}

/**
   * Remove the default vertical scrollbar in IE 10+.
   */

textarea {
    overflow: auto;
}

/**
   * 1. Add the correct box sizing in IE 10.
   * 2. Remove the padding in IE 10.
   */

[type="checkbox"],
[type="radio"] {
    box-sizing: border-box;
    /* 1 */
    padding: 0;
    /* 2 */
}

/**
   * Correct the cursor style of increment and decrement buttons in Chrome.
   */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

/**
   * 1. Correct the odd appearance in Chrome and Safari.
   * 2. Correct the outline style in Safari.
   */

[type="search"] {
    -webkit-appearance: textfield;
    /* 1 */
    outline-offset: -2px;
    /* 2 */
}

/**
   * Remove the inner padding in Chrome and Safari on macOS.
   */

[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

/**
   * 1. Correct the inability to style clickable types in iOS and Safari.
   * 2. Change font properties to `inherit` in Safari.
   */

::-webkit-file-upload-button {
    -webkit-appearance: button;
    /* 1 */
    font: inherit;
    /* 2 */
}

/* Interactive
     ========================================================================== */

/*
   * Add the correct display in Edge, IE 10+, and Firefox.
   */

details {
    display: block;
}

/*
   * Add the correct display in all browsers.
   */

summary {
    display: list-item;
}

/* Misc
     ========================================================================== */

/**
   * Add the correct display in IE 10+.
   */

template {
    display: none;
}

/**
   * Add the correct display in IE 10.
   */

[hidden] {
    display: none;
}

* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

img {
    width: auto;
    height: 230px;
}
.brandLogo {
    height: auto !important;
    max-width: 60% !important;
}
.mcontent__item {
    justify-content: center;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
}
.wrapper {
    width: 960px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.stars {
    display: inline-flex;
}
#search {
    display: block;
    width: 100%;
    height: 30px;
    text-align: center;
    text-transform: uppercase;
    font-style: italic;
    border:1px solid #ffff;
}
.fa-search {
    margin: -9px;
    position: absolute;
}
ul li {
    list-style:none;
}
.starsContent {
    display: flex;
    align-items: center;
}
.starsContent p {
    color: #fff;
    margin: 0 10px 0 0;
}
.stars {
    transition: 0.3s;
}

.stars li {
    display: inline-flex;
}
.post {
    flex: 0 1 calc(26% - 8px);
    -webkit-box-shadow: 10px 10px 58px -8px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 58px -8px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 58px -8px rgba(0, 0, 0, 0.75);
    margin: 20px;
    padding: 20px;
    cursor: pointer;
    text-align: center;
    transition: all .2s ease-in-out;
}
.post:hover {
  transform: scale(1.1);
}
.fp {
    background: #737373;
}

.fp__item {
    padding: 0;
    margin: 0;
    font-size: 1.2em;
    text-align: center;
    padding: 8px 0 9px 0;
    color: #fff;
    font-weight: 300;
    display: block;
    text-decoration: none;
}

.fp__item--hover {
    transition: 0.3s;
}

.fp__item--hover:hover {
    transform: all ease-in 250ms;
    color: #f08500;
}
#main { 
  background: #737373;
  top: 0;
  width: 100%;
  transition: all 0.5s;
  position: relative;
  z-index: 1;
}
.fixed-nav #main {
  position: fixed;
  box-shadow: 0 5px rgba(0,0,0,0.1);
}
.stars li {
   display: flex;
}

  .popup {
      display: none;
  }
  .active{
      display: block;
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    background: #000;
    z-index: 9999;
    opacity: 0.9;
    width: 100%;
  }
  .popup_content {
    background: #fff;
    width: 50%;
    margin: 0 auto;
    height: calc(65% - 50px);
    background-color: white;
    position: absolute;
    top: 155px;
    right: 0;
    left: 0;
    bottom: 0;
  }
  .beerDesc {
    margin:0px 0px 20px 0;
    display: block;
    text-align: justify;
  }
  .beerStats li {
    margin:0 5px 0 0;
  }
  .popup_content .left img {
        height: 330px !important;
  }
  .bestWithHead {
    margin:5px 0 6px 0;
    display: block;
  }
  .brewersTipsHead {
     margin:5px 0 6px 0;
    display: block;
  }
  .yeastHead {
     margin:5px 0 6px 0;
    display: block;
  }
  .beerStats {
    display: flex;
    margin: 5px 0 6px 0;
  }
  .brewersTips {
    text-align: justify;
  }
  .closePopup {
    position: absolute;
    right: 0px;
    font-size: 2.5em;
    font-weight: 900;
    top: 0px;
    transition: 0.3s;
    color: #000;
    cursor: pointer;
  }
  .closePopup:hover {
    color: #cc0000;
    transition: all 250ms ease-in;
  }
  .beerName {
     font-size: 2.5em;
    text-align: center;
    font-weight: 600;
    display: flex;
    justify-content: center;
    margin: 37px 0 29px -15px;
  }
  .appLogoNew {
        width: 15%;
    height: auto;
  }
  .beerContent  {
    display: inline-flex;
    justify-content: space-evenly;
  }
  .right {
    width: 60%;
  }
  .title {
      margin:0 0 15px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .title h2 {
      text-transform: uppercase;
      font-size: 1em;
  }
  .title .fas {
     font-size: 1.3em;
  }
  .title .fas:hover {
      color: #f08500;
  }
  .tagline {
      font-size: 1.1em;
      display: block;
      text-transform: uppercase;
      font-weight: 700;
      font-style: italic;
      margin:5px 0 6px 0;
  }
  .AppHead {
      color: #fff;
      text-transform:uppercase;
      font-style: italic;
  }
  

.search {
  width: 100%;
  position: relative
}

.searchTerm {
  float: left;
  width: 118%;
  border: 3px solid #00B4CC;
  padding: 5px;
  height: 36px;
  border-radius: 5px;
  outline: none;
  color: #9DBFAF;
  font-style: italic;
}

.searchTerm:focus{
  color: #00B4CC;
}

.searchButton {
  position: absolute;  
  right: -50px;
  width: 40px;
  height: 36px;
  border: 1px solid #00B4CC;
  background: #00B4CC;
  text-align: center;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 15%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.hidden { 
  display: none;
}
.coloredStar {
  color: orange;
}
.favBox {
      width: 1550px;
    margin: 0 auto;
}